@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
  box-sizing: border-box;
  font-family: 'Lexend', sans-serif;
}

html, body {
  scroll-behavior: smooth;
}

body {
  color: #141B30;
}

.text-primary {
  background: linear-gradient(263.78deg, #2F66F4 -16.49%, #0D9AE9 96.33%) !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  background-clip: text !important;
  color: transparent !important;
  text-shadow: 0px 5px 16px rgba(47, 102, 244, 0.34);
}

.text-secondary {
  background: linear-gradient(273.6deg, #F98D3D 9.32%, #F9AE3D 77.43%) !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  background-clip: text !important;
  color: transparent !important;
  text-shadow: 0px 5px 16px rgba(47, 102, 244, 0.34);
}

.bg-primary {
  box-shadow: 0px 12px 17px rgba(47, 102, 244, 0.25);
  transition: all 200ms ease-out;
}

.bg-secondary {
  box-shadow: 0px 16px 34px rgba(250, 175, 62, 0.2);
  transition: all 200ms ease-out;
}

button.bg-primary:hover,
button.bg-secondary:hover,
a.bg-primary:hover,
a.bg-secondary:hover {
  transform: scale(1.05);
}

.padding {
  padding-left: 8vw;
  padding-right: 8vw;
}

.control-package {
  max-width: none !important;
}

.list-accEmp {
  list-style-image: url('./assets/account/emp_pipe.svg');
  padding-left: 1rem;
}

.list-accCand {
  list-style-image: url('./assets/account/cand_pipe.svg');
  padding-left: 1rem;
}

.border-primary {
  border-image: linear-gradient(90.04deg, #2F66F4 24.53%, #0D9AE9 82.58%) !important;
}

.border-secondary {
  border-image: linear-gradient(273.6deg, #F98D3D 9.32%, #F9AE3D 77.43%) !important;
}

li::marker {
  margin-right: 3rem !important;
}

@media all and (min-width: 768px) {
  .padding {
    padding-left: 12vw;
    padding-right: 12vw;
  }
}

@media all and (min-width: 1536px) {
  .padding {
    padding-left: 17vw;
    padding-right: 17vw;
  }
}

@keyframes animationScale {
  100% {
    transform: scaleX(100%);
  }
}

@keyframes animationScaleY {
  100% {
    transform: scaleY(100%);
  }
}

.animation-scale {
  transform: scaleX(0%);
  animation: animationScale 700ms ease-in-out 700ms forwards;
  transform-origin: left;
}

.animation-scale-y {
  transform: scaleY(0%);
  animation: animationScaleY 700ms ease-in-out 700ms forwards;
  transform-origin: bottom;
}