@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
  box-sizing: border-box;
  font-family: 'Cabin', sans-serif;
}

html, body {
  scroll-behavior: smooth;
}

body {
  color: #171A23;
}

.padding {
  padding-left: 8vw;
  padding-right: 8vw;
}

.control-package {
  max-width: none !important;
}

@media all and (min-width: 768px) {
  .padding {
    padding-left: 12vw;
    padding-right: 12vw;
  }
}

@media all and (min-width: 1536px) {
  .padding {
    padding-left: 18vw;
    padding-right: 18vw;
  }
}